{% extends 'base.html' %}
{% block titolo %}
Utenti
{% endblock %}

{% block intestazione %}
Utenti
<script>
  function cancella(id){
    const baseUrl = "{{ url_for('cancellaUtente', id=0) }}";
    const url = baseUrl.replace('0', id);
  
    fetch(url, {
      method: 'DELETE',
      headers: {
          'Content-Type': 'application/json',
      }
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}
{% block corpo %}
<ul> 
  {% for user in users %} 
    <li>
      <button onclick="cancella( '{{ user['id']}}' )">Cancella</button>{{ user['id'] }}<a href="{{ url_for('hello',user=user['name']) }}">{{ user['name'] }}</a> {{ user['eta']}} 
    </li> 
  {% endfor %} 
</ul>
<a href="{{ url_for('home')}}">Back home</a>
{% endblock %}
